
@use "mixins" as *;

html {
  // font-family: 'BMDOHYEON', sans-serif;
  font-family: 'Pretandard', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

button {
  &:focus,
  &:focus-visible {
      outline: none;         // 완전 제거
  }
}

body {
  font-size: 1.6rem;  /* = 16px */
  margin: 0 auto;
  min-width: 340px;
  height: auto;
}


/* chrome - 얇은 스크롤바 */ 
::-webkit-scrollbar {
  width: 6px;     /* 세로 스크롤바 */
  height: 0px;    /* 가로 스크롤바 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
  background-color: rgba(129, 129, 129, 0.2); /* 회색 반투명 */
  border-radius: 10px;
}

/* firefox - 얇은 스크롤바 */ 
.scrollable-element {
  scrollbar-width: thin; /* normal | thin | none */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

// main {
//   width: 100vw;
//   height: 100vh;
//   color: white;
//   overflow-x: hidden;
//   > video {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     inset: 0; // top, right, bottom, left 전부 0
//     object-fit: cover;
//   }
// }

// 타이틀
// #title {
//   height: 100vh;
//   width: 100%;
//   display: flex;
//   place-items: center;
//   // position: relative;
//   z-index: 1;
//   > div {
//     width: 100%;
//     line-height: 1.5;
//     color: white;
//     text-align: center;
//     white-space: pre-line;
//     font-size: clamp(0.3vw, 3vw, 30rem);
//     text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
//     > div {
//       width: 100%;
//       display: flex;
//       justify-content: center;
//       padding: 1rem 0;
//       > span {
//         display: block;
//       }

//       &:nth-of-type(1) {
//         > span {
//           // transform: translateY(-70%);
//         }
//       }

//       &:nth-of-type(2) {
//         width: 100%;
//         height: calc(6rem + 2px);
//         justify-content: space-between;
//         > div {
//           flex: 1;
//           height: 2px;
//           background-color: white;
//           margin: 3rem 0;
//           &:nth-of-type(1){
//             transform: translateX(-100%);
//           }
//           &:nth-of-type(2){
//             transform: translateX(100%);
//           }
//         }
//       }

//       &:nth-of-type(3) {
//         > span {
//           // transform: translateY(70%);
//         }
//       }
//     }
//     > div:nth-of-type(1), div:nth-of-type(3) {
//       column-gap: 3rem;
//       > span {
//         // opacity: 0;
//         // scale: 5;
//         scale: 1;
//       }
//     }

//     @include respond(sm) {
//       font-size: 3.5rem;
//       // padding: 0 2rem;
//       > div:nth-of-type(2) {
//         > span {
//           > span:nth-of-type(1) {
//             font-size: 5rem;
//           }
//           > span:nth-of-type(2) {
//             font-size: 2rem
//           }
//         }
//       }
//     }
//   }
// }

// 자기소개
// #aboutMe {
//   background-color: var(--color-blue-90);
//   white-space: pre-line;
//   > div {
//     > div:nth-of-type(2) {
//       line-height: 1.8;
//       display: flex;
//       flex-direction: column;
//       row-gap: 1.2em;
//       > div >.slogan {
//         margin-bottom: -2.2em;
//         overflow: hidden;
//         display: inline-block;
//         > span {
//           font-size: 3em;
//           > span {
//             display: inline-block;
//             transform: translateY(-100%);
//           }
//         }
//       }
      
//       // 자격증
//       > div:nth-of-type(2) {
//         > div{
//           > span {
//             color: var(--color-gray-50);
//           }
//         }
//       }

//       // 사진 & 연락처
//       > div:nth-of-type(3) {
//         display: grid;
//         grid-template-columns: 7em 1fr;
//         column-gap: 2rem;
//         align-items: center;
//         > img {
//           scale: 0;
//           width: 100%;
//         }
//         > div {
//           width: calc(100% - 2rem);
//           padding: 2rem;
//           box-sizing: border-box;
//           border: 1px solid white;
//           border-radius: 20px;
//           > span {
//             color: var(--color-gray-50);
//           }
//         }
//       }
//     }
//   }
// }

.cell {
  background-color:var(--color-blue-90);
  font-size: 1.7em;
}

#c332, #c333, #c365, #c366, #c300  {
  background-color: transparent;
}


// 경력
#experiences {
  color: var(--color-black);
}

// skill
#skills {
  color: var(--color-black);
  > div {
    > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }
}
  
// .section-layout {
//   width: 100%;
//   height: 100vh;
//   font-size: clamp(0.2vw, 1em, 1em);
//   display: flex;
//   justify-content: center;
//   overflow: hidden;
//   padding: 6rem;
//   box-sizing: border-box;
//   > div {
//     max-height: fit-content;
//     height: 100%;
//     max-width: 1220px;
//     width: 100%;
//     margin: auto 0;
//     align-items: center;
//     display: grid;
//     grid-template-columns: 10rem 1fr;
//     column-gap: 2rem;
//     > div:first-of-type {
//         padding-top: 1.5rem;
//         text-align: right;
//         align-self: baseline;
//         white-space: nowrap;
//     }
//     > div:last-of-type {
//       max-height: 100%;
//       height: fit-content;
//       overflow-y: scroll;
//       position: relative;
      
//     }
//   }
//   @include respond(md) {
//     padding: 3rem;
//   }
//   @include respond(sm) {
//     padding: 2rem;
//     font-size: clamp(0.2vw, 0.75em, 1em);
//     > div{
//       display: flex;
//       flex-direction: column;
//       row-gap: 1.5rem;
//       > div {
//         width: 100%;
//         line-height: 1.8;
//       }
//       > div:first-of-type {
//         text-align: left;
//       }
//     }
//   }
// }

// 메뉴 모달
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white-40);
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
  &.on {
    transform: translateX(0);
  }
  > div {
    transition: all 0.3s ease-in;
    width: 100%;
    aspect-ratio: 4 / 1;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--color-black);
    font-weight: 700;
    align-items: center;
    justify-content: center;
    max-width: 1220px;
    box-sizing: border-box;
    padding: 10rem;
    > div {
      height: fit-content;
      display: flex;
      flex-direction: column;
      font-size: clamp( 0.1vw, 3.6vw, 3.6em);
      > span, a {
        padding: 0.4em 0;
        cursor: pointer;
      }
    }
    // contact
    > div:nth-of-type(2) {
      align-items: flex-end;

      > span:nth-of-type(3) {
        font-size: clamp( 0.1vw, 2.6vw, 2.6em);
        letter-spacing: -1px;
      }
      > span, div {
        opacity: 0.7;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
          color: var(--color-black);
        }
      }
      > span:nth-of-type(1) {
        opacity: 1;
        cursor:default;
        &:hover {
          opacity: 1;
        }
      }
      > div {
        display: flex;
        column-gap: 1.5vw;
        align-items: center;
        > a > img {
          width: 3.4vw;
          opacity: 0.8;
          margin-top: 0.5vw;
        }
      }
    }
  }
  @include respond(md) {
    > div {
      padding: 5rem;
    }
  }
  @include respond(sm) {
    > div {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > div:nth-of-type(2) {
        margin-top: 3rem;
        align-items: flex-start;
        font-size: 3rem;
        > span:nth-of-type(3) {
          font-size: 2rem;
          letter-spacing: -1px;
        }
      }
      > div {
        > span, div {
          padding: 0.5rem 0;
        }
        > div > a > img {
          margin-top: 0.8rem !important;
          width: 3rem !important;
        }
      }
    }
  }
}

.main-menu {
  transition: all 0.3s ease-in;
  white-space: nowrap;
  >.on {
    opacity: 1;
    transform: translateX(0.8em);
    &::before {
      content: "";
      position: absolute;     // 위치 지정
      left: -0.8em;             // 오른쪽에 붙이기
      top: 42%;
      border-radius: 50%;
      background-color: var(--color-blue);
      opacity: 0.5;
    }
  }
  > span {     
    &.on {
      &::before {
        content: "";
        width: 0.4em;
        height: 0.4em;
      }
    }
  }
  @include respond(sm) {
    font-size: 3rem;
    left: 3rem;
    top: 18%;
  }
  > span {
    opacity: 0.7;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: block;
    width: fit-content;
  }
}

.menu-button {
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: fixed;
  z-index: 101;
  opacity: 0;
  > span {
    background-color: white;
    display: block;
    height: 0.2rem;
    width: 100%;
    border-radius: 2px;
    transition: transform 0.3s ease;
  }

  &.white > span {
    background-color: white;
  }
  
  @include respond(overMd) {
    top: 3rem;
    right: 3rem;
    width: 2.5rem;
    row-gap: 1.2rem;
  }

  @include respond(sm) {
    width: 2.7rem;
    row-gap: 0.7rem;
    right: 5%;
    top: 3%;
  }
  &.on {
    > span {
      background-color: var(--color-black);
    }
    > span:nth-of-type(1) {
      transform: translateY(0.7rem) rotate(45deg);
    }
    > span:nth-of-type(2) {
      display: none;
    }
    > span:nth-of-type(3) {
      transform: translateY(-0.7rem) rotate(-45deg);
    }
    @include respond(sm) {
      > span:nth-of-type(1) {
        transform: translateY(0.45rem) rotate(45deg);
      }
      > span:nth-of-type(2) {
        display: none;
      }
      > span:nth-of-type(3) {
        transform: translateY(-0.45rem) rotate(-45deg);
      }
    }
  }
}


.pointer {
  position: absolute;
  pointer-events: none;
  z-index: 101;
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    > div {
      width: 3rem;
      height: 3rem;
      transform: translate(-70%, -70%);
      background-color: var(--color-blue-30);
      border-radius: 50%;
      transition: scale 0.3s ease, opacity 0.3s ease;
      &.on {
        transform: translate(-15%, -15%);
        transform-origin: center center; // 회전축 중심 설정
        scale: 4;
        opacity: 0.3;
      }
    }
    > svg {
      position: absolute;
      top: -80px;
      left: -80px;
      color: white;
      opacity: 0;
      scale: 0.2;
      transition: opacity 0.2s ease, scale 0.3s ease;
      &.on {
        opacity: 1;
        animation: spin 10s linear infinite;
        scale: 1;
      };
    }
  }
  @include respond(sm) {
    display: none;
  }
}

.exp-card {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  border-bottom: 1px solid var(--color-gray-50);
  column-gap: 1.5em;
  padding: 1.5em;
  box-sizing: border-box;
  line-height: 1.8;
  transform: translateY(100%);
  opacity: 0;
  > div:first-of-type {
    > span {
      color: var(--color-gray-50);
    }
  }
  > div{
    white-space: pre-line;
  }
}


.project-card {
  width: 100%;
  height: 100%;
  row-gap: 1.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .image {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 2.1 / 1;
    overflow: hidden;
    border-radius: 8px;
    > img {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      flex: 1;
    }
    &.mobile {
      aspect-ratio: 1 / 1.9;
    }
    &.kiosk {
      aspect-ratio: 1 / 1.55;
    }
    > div:last-of-type {
      flex: 1;
      color: white;
      font-size: 1em;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.4rem;
      padding: 9% 1rem;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.6);
      transform: translateY(17em);
      transition: transform 0.3s ease;
      > div:nth-of-type(2), div:nth-of-type(3) {
        font-size: 0.7em;
        &.wrap {
          white-space: pre-line;
        }
      }
      > div:last-of-type {
        display: flex;
        column-gap: 0.5rem;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        align-items: baseline;
        > img {
          width: 2rem;
          border-radius: 2px;
        }
        @include respond(sm) {
          display: none;
        }
      }
    }
    &:hover{
      > div:last-of-type {
        transform: translateY(0);
      }
    }
    @include respond(sm) {
      > div:last-of-type {
        transform: translateY(0);
        padding: 0;
      }
    }
  }
  .empty-block {
    border-radius: 8px;
    width: 100%;
    flex-grow: 1;
    background-color: var(--color-yellow-dark2);
    cursor: default;
  }
}

.skill-card {
  padding: 1.5rem 1.5em 3em 1.5em;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-gray-50);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  gap: 0.8em;
  white-space: pre-line;
  > div:last-of-type {
    display: flex;
    gap: 0.3em;
    margin-top: 0.6em;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 0.6em;
    > div {
      position: relative;
      opacity: 0;
      scale: 0.5;
      > img {
        background-color:cadetblue;
        border-radius: 5px;
        object-fit: contain;
        width: 3.5rem;
        aspect-ratio: 1 / 1;
      }
      > span {
        position: absolute;
        background-color: white;
        border: 1px solid var(--color-gray-50);
        border-radius: 5px;
        padding: 0.1rem 0.2rem;
        white-space: nowrap;
        color: var(--color-gray-80);
        z-index: 2;
        left: 2rem;
        top: -1rem;
        opacity: 0;
      }
      &:hover{
        > span {
          opacity: 1;
        }
      }
    }
  }
}

.alert {
  position: fixed;
  z-index: 102;
  top: 48%;
  left: 48%;
  pointer-events: none;
  transform: translateY(100%);
  font-size: 1.2rem;
  background-color: white;
  padding: 0.5rem 2.2rem;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  &.on {
    animation: slide-in 0.3s ease forwards;
  }
  &.off {
    animation: slide-out 0.3s ease forwards;
  }
  @include respond(sm){
    left: 70%;
  }
}



/* 애니메이션 */

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;;
}

.fade-out {
  opacity: 0;
}


@keyframes spin {
  from {
    transform: trotate(0deg); // 요소와 똑같이 이동 후 스핀
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 0.8;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0%);
    opacity: 0.8;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}


@keyframes flipY {
  0%   { transform: rotateY(0deg);   opacity: 1; }
  50%  { transform: rotateY(90deg);  opacity: 0; }
  100% { transform: rotateY(180deg); opacity: 1; }
}

// @keyframes flip {
//   0% {
//     transform: rotateY(0deg); // 요소와 똑같이 이동 후 스핀
//   }
//   50% {
//     transform: rotateY(90deg);
//   }
//   51% {
//     transform: rotateY(90deg);
//   }
//   100% {
//     transform: rotateY(0deg);
//   }
// }


.loading {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: grid;
  font-size: 3rem;
  font-weight: 700;
  transition: opacity 0.3s ease;
  color: var(--color-yellow-dark);
  > * {
    margin: auto;
    grid-column: 1 / sapn 1;
    grid-row: 1 / sapn 1;
  }
  > img {
    width: 30rem;
    animation: spin 3s linear infinite;;
  }
  &.off {
    opacity: 0;
    z-index: -1;
  }
}