$breakpoints: (
  sm: "(max-width: 480px)",
  md: "(max-width: 1200px)",
  lg: "(min-width: 1201px)",
  overMd: "(min-width: 481px)",
);


:root {
    // 폰트
    --custom-font: "Pretendard";

    // 색상 모노
    --color-gray-10: #ebeef0;
    --color-gray-50: #757575;
    --color-text-60: #666666;
    --color-gray-80: #353535;
    --color-black: #2b2b2b;

      // 투명
    --color-white-40: #ffffff57;

    // 색상 시그니처
    --color-pink: #E01087;
    --color-pink-50: #e010867e;
    --color-yellow: #F9E000;
    --color-yellow-dark: #F2B508;
    --color-yellow-dark2: #3a2a0085;

    --color-blue: #2471ff;
    --color-blue-tr: #00183988;
    --color-blue-30: #2471ff5b;
    --color-blue-90: #001839;
    --rgb-main-blue: 11, 111, 232;
}